.top-burger
  position: relative;
  align-items: center;
  display: flex;
  z-index: 100;
  padding: .5rem;
  &.left
    position: absolute;
    top: 0;
    left: 0;
  &.right
    position: absolute;
    top: 0;
    right: 0;
  .title
    color: #555;
    font-weight: 700;
    line-height: 1;
    height: 2.5em;
    vertical-align: middle;
    @media screen and (min-width: 28em)
      padding-top: .7rem
      padding-bottom: .7rem
  .logo
    height: 2.5em;
    width: 2.5em;
    margin-right: .5em;
    @media screen and (max-width: 40em)
      height: 1.5em;
      width: 1.5em;
  .burger
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 20px;
    height: 16px;
    padding: 0 !important;
    margin-left: .25rem;
    margin-right: .5rem;
  .burger:after
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background: #ea7b67;
    box-shadow: 0 7px 0 #ea7b67,0 14px 0 #ea7b67;
  #burger-dropdown
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    top: 30px !important;
    left: -110px !important;
    width: auto !important;