extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/css/dashboard.min.css")

block header
  +header('margin-bottom')

block content
  div.row
    div.small-12.medium-6.large-4.columns.foursquare
      div.card
        div.content
          div.title
            span.fa(class="fa-foursquare")
            span  Foursquare
          p
            strong nº venues
            span : test
          p
            strong last update
            span : test
          p
            strong total time
            span : test
        div.action
          div.button-group.small.align-center
            button.button.update Update
            button.button.pause(class="disabled") Pause
            a.button.download(href="#") Download
          div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
            span.progress-meter
              p.progress-meter-text 0%
    div.small-12.medium-6.large-4.columns.yelp
      div.card
        div.content
          div.title
            span.fa(class="fa-yelp")
            span  Yelp
          div
            p
              strong nº venues
              span : test
            p
              strong last update
              span : test
            p
              strong total time
              span : test
        div.action
          div.button-group.small.align-center
            button.button.update Update
            button.button.pause(class="disabled") Pause
            a.button.download(href="#") Download
          div.progress.align-center(role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" aria-valuetext="0 percent")
            span.progress-meter
              p.progress-meter-text 0%

block scripts
  script(src="/libs/jquery/jquery-2.2.0.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/js/dashboard.min.js")