extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/libs/leaflet/leaflet.css")
  link(rel="stylesheet" href="/libs/leaflet.markercluster/MarkerCluster.css")
  link(rel="stylesheet" href="/libs/leaflet.markercluster/MarkerCluster.Default.css")
  link(rel="stylesheet" href="/css/index.min.css")

block header
  +header('fixed opaque border-bottom')

block content
  div.loading
    img(src="/img/spinner.svg" alt="loading" height="50" width="50").spinner
  div.map-controls
    button.button.toggle
      span.fa.fa-arrow-right
    div.container
      ul.vertical.menu
        li.control-active
          a(href="#") Active
          ul.menu.vertical.nested
      ul(data-accordion-menu).vertical.menu
        li.control-markers
          a(href="#") Markers
          ul.menu.vertical.nested
            form
              label City
                input.city(type="text" name="city" placeholder='City')
              button.button.submit Add
        li.control-heatmaps
          a(href="#") Heatmaps
          ul.menu.vertical.nested
            form
              label City
                input.city(type="text" name="city" placeholder='City')
              label Variable
                input.variable(type="text" name="variable" placeholder='Variable')
              button.button.submit Add
        li.control-geometry
          a(href="#") Geometry
          ul.menu.vertical.nested
            form
              label City
                input.city(type="text" name="city" placeholder='City')
              label Variable
                input.variable(type="text" name="variable" placeholder='Variable')
              button.button.submit Add
  div(id="map")

append scripts
  script(src="/libs/colorbrewer/colorbrewer.js")
  script(src="/libs/leaflet/leaflet.js")
  script(src="/libs/leaflet.markercluster/leaflet.markercluster.min.js")
  script(src="/libs/leaflet.heat/leaflet.heat.min.js")
  script(src="/libs/d3/topojson.v1.min.js")
  script(src="/js/map.min.js")