extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/css/profile.min.css")

block header
  +header('fixed')

block content
  div.row
    div.small-12.medium-12.large-12.columns
      p.user
        span.fa.fa-hashtag
        strong  id:
        span.content  #{user.id}
      p.name
        span.fa.fa-user
        strong  user:
        span.content  #{user.username}
      p.email
        span.fa.fa-envelope
        strong  email:
        span.content  #{user.email}
      p.token
        span.fa.fa-asterisk
        strong  token:
        span.content  #{user.token}

append scripts
  script(src="/js/profile.min.js")