extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/css/venues.min.css")

block header
  +top-bar('fixed')

block content
  div.row
    div.column
      div.input-group.search
        span.input-group-label Search
        input(type="text").input-group-field
        div.input-group-button
          button(type="submit").button Submit
  div.row.align-stretch.venues
    each venue in venues
      div.small-12.medium-6.large-4.columns
        div.container
          div.title
            div.code
              h5= venue.cd_pdv
            div.name
              h5= venue.ds_pdv
          hr
          div.stats-container
            div.stats
              h5= venue.twitter_statuses || '-'
              p
                span.fa.fa-twitter
            div.stats
              h5= venue.foursquare_usercount || '-'
              p
                span.fa.fa-foursquare

append scripts
  script(src="/socket.io/socket.io.js")
  script(src="/js/venues.min.js")