extends ./layouts/base.jade

append head
  title Geolink
  link(rel="stylesheet" href="/css/venues.min.css")

block header
  +top-bar('fixed')

block content
  div(style="display:none").loading
    img(src="/img/spinner.svg" alt="loading" height="50" width="50").spinner
  div.row
    div.column
      div.input-group.search
        span.input-group-label
          span.fa.fa-search
        input(type="text").input-group-field
  div.row.align-stretch.venues
  div.row
    div.column.pagination-container

append scripts
  script(src="/js/venues.min.js")