html, body
  position: relative;
  overflow: hidden;
.top-bar
  display: none;
  @media screen and (max-width: 28em)
    display: flex;
.top-burger
  display: none;
  @media screen and (min-width: 28em)
    display: flex;
.delete
  cursor: pointer;
.advanced
  font-size: .75rem;
  color: #999;
.controls
  position: absolute;
  top: 75px;
  left: 10px;
  z-index: 10;
  width: 20em;
  @media screen and (max-width: 28em)
    top: 55px;
    left: 0;
    right: 0;
    width: auto;
    margin: 0 1.0em;
  .select
    display: flex;
    justify-content: space-around;
    & button
      flex: 1;
      margin-right: 2px;
      font-size: .75em;
      padding: .5em 1.0em;
      color: #999 !important;
      background: white !important;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
      border: 1px solid #ddd;
      font-weight: bold;
      &:last-of-type
        margin-right: 0;
      &.active
        color: white !important;
        background: #ea7b67 !important;
        border: 1px solid #ea7b67;
        border-bottom: 1px solid #d06e5c;
        box-shadow: 0 1px 0 0 #d06e5c;
  .control
    display: none;
    background: white !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    padding: 1.0em 1.0em 0 1.0em;
    max-height: 60vh;
    overflow-y: auto;
    &.active
      display: block;
    & .item
      display: none;
    & .item.active
      display: block;
    .enabled
      background: #ddd;
  form
    flex: 1;
    display: flex;
    flex-direction: column;
    hr
      width: 100%;
      margin: 1.0rem auto;
    & .advanced
      align-self: flex-end;
    & .button-group
      justify-content: flex-end;
#map
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  .leaflet-top
    top: 55px;
  .leaflet-control-zoom
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    border-radius: 0;
    @media screen and (max-width: 28em)
      margin-bottom: 40px;
    .leaflet-control-zoom-in, .leaflet-control-zoom-out
      color: #999;
      border-radius: 0;
  .info
    padding: 8px;
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    h4
      color: #777;
  .legend
    padding: 8px;
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    line-height: 18px;
    color: #555;
    i
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;