mixin top-bar(classes)
  div(data-responsive-toggle="sub-menu" data-hide-for="medium" class=classes).title-bar
    button(type="button" data-toggle).menu-icon
  div(id="main-menu" class=classes).top-bar
    div.top-bar-left
      div.top-bar-title
        a(href="/").menu-text
          img(src="img/logo.png").logo
          span.title Geolink
    div.top-bar-right
      ul(id="sub-menu" data-dropdown-menu).menu.vertical.medium-horizontal
        li
          a(href="/") Map
        li
          a(href="/venues") Venues
        li
          a(href="/scrapers") Scrapers
        li
          a(href="/profile") Profile
        li
          a(href="/logout") Logout

mixin top-burger(classes)
  div.top-burger.left
    a(href="/")
      img(src="img/logo.png").logo
      span.title Geolink
  div.top-burger.right
    button(data-toggle="burger-dropdown").burger
    ul(id="burger-dropdown" data-dropdown).dropdown-pane.menu
      li
        a(href="/") Map
      li
          a(href="/venues") Venues
      li
        a(href="/scrapers") Scrapers
      li
        a(href="/profile") Profile
      li
        a(href="/logout") Logout