mixin header(classes)
  - var items = ['Dashboard', 'Profile', 'Logout']
  div(data-responsive-toggle="sub-menu" data-hide-for="medium" class=classes).title-bar
    button(type="button" data-toggle).menu-icon
  div(id="main-menu" class=classes).top-bar
    div.top-bar-left
      div.top-bar-title
        a(href="/").menu-text Geolink
    div.top-bar-right
      ul(id="sub-menu").menu.vertical.medium-horizontal
        li
          a(href="/") Map
        li
          a(href="/dashboard") Dashboard
        li
          a(href="/profile") Profile
        li
          a(href="/logout") Logout